<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="css/style1.css" />
  <!-- Font Awesome CDN link for icons -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" />
</head>
<body>
    
    <div class="row">
    <form action="/updatePassword" method="post">
        <i class="fas fa-lock"></i>
        <input type="password" placeholder="New Password" name="new_password" required />
      </div>
      
      <div class="row">
        <i class="fas fa-lock"></i>
        <input type="password" placeholder="Confirm Password" name="confirm_password" required />
      </div>
      
      <div class="row button">
        <input type="submit" value="Update Password" formaction="/newpassword" />
      </div>
    </form>
    <% if(error){ %>
        <p style="color: red;"><%= error %></p>
    <% } %>
</body>
</html>
